body{
	cursor: url("../images/cursor.png"), auto;
}
.buttons-bottom img {
	width: 50px;
	margin-bottom: 10px;
}
.kid-sub-void{
	position: fixed;
	bottom: 50px;
	padding: 15px 30px;
	background: #333;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	min-width: 250px;
	font-size: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	opacity: 0.9;
	z-index: 99;
}
.list-page{
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: Arial, sans-serif;
}
.list-page select{
	width: 40px;
	height: 30px;
	font-weight: bold;
	focus:  none;
	outline: none;
	border-radius: 10px;
    color: #fa7c0e;
}
.list-page select option{
	font-weight: bold;
}
.list-page:hover{
	cursor: url("../images/cursor.png"), auto;
}
.kid-sound{
	width: 30px;
	margin-right: 15px;
}
.sound{
	display: none;
}

/*kid-m1*/
.kid-m1{
	background-position: cover;
    background-size: 100% 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*kid-m2*/

.kid-img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 99;
}
.kid-01.active{
    animation: scale 1.2s ease-in infinite;
}
.kid-02.active{
    animation: scale 1.2s ease-in infinite;
}
@keyframes scale{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}
/*kid-m3*/
.content .kid-chu-03{
	width: 600px;
	position: absolute;
	top: 40%;
	right: 5%;
}
/* kid-m4 demo*/
 .d-flex{
	display: flex;
}
.content .kid-chu-04{
	position: absolute;
	top: 24%;
    right: 3%;
}
.kid-img-02{
	width: 350px;
}
.kid-img-01{
	width: 250px;
}
.kid-play-04, .kid-pause-04{
	width: 40px;
	height: 40px;
	margin: 10px 0 0 20px;
}
#kid-pause-kid ,#kid-pause-teacher{
    display: none;
}
.kid-sub-void-01{
	position: fixed;
	bottom: 50px;
	padding: 15px 30px;
	background: #333;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	min-width: 250px;
	font-size: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	opacity: 0.9;
	z-index: 99;
}
.kid-sub-void-02{
	position: fixed;
	bottom: 50px;
	padding: 15px 30px;
	background: #333;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	min-width: 250px;
	font-size: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	opacity: 0.9;
	z-index: 99;
}
#kid-play-kid{
	position: absolute;
	left: 52%;
	top: 10%;
	z-index: 999999;
}
#kid-play-teacher{
	position: absolute;
	bottom:  40%;
	right: 19%;
	z-index: 999999;
}
#kid-pause-teacher{
	position: absolute;
	bottom:  40%;
	right: 19%;
	z-index: 999999;
	display: none;
}
#kid-pause-kid{
	position: absolute;
	left: 52%;
	top: 10%;
	z-index: 999999;
	display: none;
}
.kid-img-12{
	width: 400px;
	position: absolute;
	top:25%;
	left: 23%;
}
.kid-img-12-1{
	width: 100px;
	position: absolute;
	top:34%;
	right: 26%;
}
.kid-img-14{
	width: 400px;
	position: absolute;
	top:25%;
	left: 23%;
}